__pycache__/
*.py[cod]
*.pyo
.env
**/.env
**/.env.*
**/venv/
**/node_modules/
.git/
.history/
*.dump
**/*.db
**/uploads/
uploads/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
*.log
venv/
.venv/
env/
